In [2]:
import pandas as pd
import numpy as numpy

# Augment data
Add features like price_per_sq_meter

In [7]:
df = pd.read_csv('../property_data_raw.csv')
df.head()

,property_id,date_obtained,price,property_type,livable_area,heating_type,has_photovoltaic_panels,has_double_glazing,number_of_rooms,number_of_bathrooms,...,postal_code,latitude,longitude,year_built,building_condition,floor_number,total_floors,property_size,flood_zone_type,cadastral_income
0,11326221,19052024,279000,APARTMENT,94.0,GAS,False,True,9.0,1.0,...,9040,51.073625,3.747233,1965.0,GOOD,NaN,NaN,NaN,NON_FLOOD_ZONE,686
1,11386911,19052024,1090000,HOUSE,NaN,NaN,False,True,11.0,2.0,...,9820,51.025043,3.748909,NaN,NaN,NaN,NaN,1387.0,NON_FLOOD_ZONE,0
2,11376909,19052024,269000,APARTMENT,99.0,NaN,False,True,12.0,1.0,...,9050,51.038280,3.747692,1960.0,TO_BE_DONE_UP,NaN,NaN,NaN,NON_FLOOD_ZONE,0
3,11362707,19052024,563000,HOUSE,187.0,NaN,NaN,True,1.0,1.0,...,9000,51.026915,3.707021,1954.0,GOOD,NaN,NaN,230.0,NaN,937
4,11361176,19052024,995000,HOUSE,NaN,ELECTRIC,False,False,NaN,NaN,...,9000,51.053580,3.714567,NaN,NaN,NaN,3.0,130.0,NaN,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2280 entries, 0 to 2279
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   property_id                 2280 non-null   int64
 1   date_obtained               2280 non-null   int64
 2   price                       2280 non-null   int64
 3   property_type               2280 non-null   object
 4   livable_area                2084 non-null   float64
 5   heating_type                1260 non-null   object
 6   has_photovoltaic_panels     1294 non-null   object
 7   has_double_glazing          1772 non-null   object
 8   number_of_rooms             1259 non-null   float64
 9   number_of_bathrooms         2024 non-null   float64
 10  number_of_bedrooms          2280 non-null   int64
 11  number_of_toilets           1718 non-null   float64
 12  has_living_room             2280 non-null   bool
 13  has_dining_room             199 non-null    object
 14  has_attic                   278 non-null    object
 15  has_basement                440 non-null    object
 16  has_terrace                 973 non-null    object
 17  terrace_surface             677 non-null    float64
 18  has_garden                  420 non-null    object
 19  garden_surface              401 non-null    float64
 20  energy_label                1872 non-null   object
 21  primary_energy_consumption  1744 non-null   float64
 22  postal_code                 2280 non-null   int64
 23  latitude                    2235 non-null   float64
 24  longitude                   2235 non-null   float64
 25  year_built                  1516 non-null   float64
 26  building_condition          1844 non-null   object
 27  floor_number                0 non-null      float64
 28  total_floors                1018 non-null   float64
 29  property_size               1281 non-null   float64
 30  flood_zone_type             1554 non-null   object
 31  cadastral_income            2280 non-null   int64
dtypes: bool(1), float64(13), int64(6), object(12)
memory usage: 554.5+ KB

In [ ]:
df['price_per_sqmeter'] =